  <li>
  <% if ad.created_at %>
    <ad-titlebold><%= ad.ad_type %>  
      <% if !ad.brand_name.blank? && !ad.model_name.blank? %>
        <%= ad.brand_name %> <%= ad.model_name %>
      <% else %>
        <% if !ad.brand_name.blank? %>
          <%= ad.brand_name %>
        <% else %>
          <% if !ad.model_name.blank? %>
            <%= ad.model_name %>
          <% end %>
        <% end %>
      <% end %>
      <%= ad.product_name %>
    </ad-titlebold>
    <%= link_to "review", reviews_path %>
    <% if @current_user == ad.user %> 
      <span class="float-right-text"><%= link_to image_tag('delete-gray.png', :size => "20x20"), ad, method: :delete %></span>
    <% else %>
      <%= render 'followad_form', :ad => ad %>   
      <span class="float-right-text">By <%= ad.by_type %></span>
    <% end %>
    <span id="content" class="more details"><%= ad.details %></span>
    <span class="timeago timestamp" title="<%= ad.updated_at.getutc.iso8601 %>">
      <%= ad.updated_at.to_s %>
    </span>
    <span class="comment">
    <span class="float-left">
      <%= render 'shared/commentfeed', :ad => ad %>
    </span>
    </span>
  <% end %>
  </li>



