<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8"> 
<%= javascript_include_tag "jquery-ui.min.js", "highcharts", "exporting" %>
<%= stylesheet_link_tag "gmaps4rails" %>
</head>
<body class="body">
  <%= render 'layouts/header' %>
   <div class="container-fluid">
    <div class="row-fluid">
     <aside>	
        <div class="span2">
          <section>
 	    <%= render 'shared/adInfo' %>
	  </section>
        </div>
        <div class="span6 offset1">  
	  <section>
            <%= render 'shared/commentfeed', :ad => @ad %>
          </section>
          <%= debug(params) %>
        </div>
	<div class="span3">  
	  <section>
            <%= render 'shared/charts', :ad => @ad %>
          </section>
        </div>
      </aside>
    </div>
</div>
  </body>
  <footer>
    <%= yield :scripts %> 
  </footer>
</html>
