<p id="notice"><%= notice %></p>

<p>
  <b>Details:</b>
  <%= @ad.details %>
</p>

<p>
  <b>Buy:</b>
  <%= @ad.buy %>
</p>

<p>
  <b>Sell:</b>
  <%= @ad.sell %>
</p>

<p>
  <b>Rent:</b>
  <%= @ad.rent %>
</p>

<p>
  <b>Price eval:</b>
  <%= @ad.price_eval %>
</p>

<p>
  <b>Options eval:</b>
  <%= @ad.options_eval %>
</p>


<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
