<!DOCTYPE html> 
<html lang="en"> 
<head> 
<script type="text/javascript">
  CloudZoom.quickStart();
</script>
<meta charset="utf-8"> 
<%= javascript_include_tag "jquery-ui.min.js", "highcharts", "exporting" %>
<%= stylesheet_link_tag "gmaps4rails" %>
</head>
<body class="body">
  <%= render 'shared/header' %>
   <div class="container-fluid">
    <div class="row-fluid">
     <aside>	
        <div class="span2">
          <section>
	  </section>
        </div>
        <div class="span7">  
	  <%= render 'shared/adInfo' %>
        </div>
	<div class="span3">  
	  <section>
            
          </section>
        </div>
      </aside>
    </div>
</div>
  </body>
  <footer>
    <%= yield :scripts %> 
  </footer>
</html>
