<h1>Listing company_retail_products</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_retail_products.each do |company_retail_product| %>
  <tr>
    <td><%= company_retail_product.product_id %></td>
    <td><%= company_retail_product.company_id %></td>
    <td><%= link_to 'Show', company_retail_product %></td>
    <td><%= link_to 'Edit', edit_company_retail_product_path(company_retail_product) %></td>
    <td><%= link_to 'Destroy', company_retail_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company retail product', new_company_retail_product_path %>
