<% if comment.created_at %>
  <li class="comment">
    <section class="span1"><%= image_tag avatar_url(@user), :size => "48x48" %></section>
    <section class="span11">    
      <span class="float-right"><money><%= humanized_money_with_symbol comment.indicative_price %></money>
      <sup><%= link_to image_tag('delete-gray.png', :size => "20x20"), comment, method: :delete %></sup></span>

    <% if @current_user == comment.ad.user %> 
      <section id="help" data-id=modal_comment_<%= comment.id %>><a href="#"><%= comment.display_name %></a></section>: <%= best_in_place comment, :description %>
    <% else %>
      <section id="help" type="comment" data-id=modal_comment_<%= comment.id %>><a href="#"><%= comment.display_name %></a></section>: <%= comment.description %>
    <% end %></section>
    <br/>
    <span class="timestamp timeago" title="<%= comment.updated_at.getutc.iso8601 %>">
      <%= comment.updated_at.to_s %>
    </span>
  </li>
<% end %>


          
