<%= render 'shared/help', :id => 'modal_user_'+ user.id.to_s, :object => user %>
<div class="pin"><%= link_to image_tag( avatar_url(user) ), user %><section class="contact-card" data-id=modal_user_<%= user.id %>><%= user.display_name %></section>
<%= render 'shared/statsimple', statobject: user %></div>
