<!DOCTYPE html> 
<html lang="en"> 
<head> 
<%= javascript_include_tag "jquery-ui.min.js", "highcharts", "exporting" %>
<%= stylesheet_link_tag "gmaps4rails" %>
<meta charset="utf-8"> 
</head>
<body>
  <%= render 'shared/header' %>
    <div id="gallery">
      <ul id="grid">
        <% @users.each do |user| %>
          <li><%= link_to image_tag( avatar_url(user) ), user %><%= user.display_name %></li>
        <% end %>
      </ul>
   </div>
</body>
</html>
