<!DOCTYPE html5> 
<html lang="en"> 
<head> 
<%= javascript_include_tag "jquery-ui.min.js", "highcharts", "exporting" %>
<%= stylesheet_link_tag "gmaps4rails", "bootstrap/bootstrap-responsive" %>

<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
  <%= render 'shared/header' %>
   <div class="container-fluid">
    <div class="row-fluid">
     <aside>
        <% if params[:ad_id] || params[:product_id] || params[:user_id] %>
        <div class="span2">
        </div>
        <div class="span6 offset1">  
          <% if @ad %>
            <section>
              <%= render 'shared/adInfo' %>
            </section>
          <% elsif @product %>
            <section>
              <%= render 'shared/objectInfo' %>
            </section>
          <% else %>
  	    <section>
 	      <%= render 'shared/userInfo' %>
  	    </section>
	    <br>
          <% end %>
       <% else %>
       <div class="span12">
       <% end %>
          <% if @product %>
  	    <div id="send-queryform" class="objectconditional"><%= render 'queries/form' %></div>
	    <button type="button" id="send-query" class="text-center">Send Query</button>
          <% end %>
	  <div id="feedcolumns">
            <%= render @users %>
          </div>
        </div>
      </aside>
    </div>
</div>
  </body>
  <footer>
	<%= debug(params) %>
	<%= yield :scripts %> 
  </footer>
</html>
