<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8"> 
</head>
<body>
  <%= render 'shared/header' %>
 <aside class="spacer">
  <header>Sign up</header>
   <div class="container-fluid spacer">
    <div class="row-fluid">
      <div class="span6"> 
	<div class="offset6 row-fluid">
	  <div class="span12">
	    <%= render "/layouts/signup_#{@user.signup_current_step}_active" %>
          </div>
          <div class="span12">
        <%= form_for @user do |f| %>
	  <%= render "/layouts/signup_#{@user.signup_current_step}_step", :f => f %>
	  <%= render "/shared/error_messages", object: f.object %>
          <p><%= f.submit "Continue", :class => "continue_button" unless @user.signup_last_step? %></p>
          <p><%= f.submit "Back", :name => "back_button" unless @user.signup_first_step? %></p>
	  <p><%= f.submit "Sign up", class: "btn btn-large btn-primary" if @user.signup_last_step? %></p>
	<% end %>
        <%= render "devise/shared/links" %>
 	<%= debug(params) if Rails.env.development? %>
 	<%= debug($temp) if Rails.env.development? %>
	</div>
      </div>
    </div>
  </div>
</div>
</aside>
</body>
</html> 
