<!DOCTYPE html> 
<html lang="en"> 
<head> 
<%= javascript_include_tag "jquery-ui.min.js", "highcharts", "exporting" %>
<meta charset="utf-8"> 
</head>
<body>
  <%= render 'layouts/header' %>
    <div class="row-fluid">
     <aside>
        <div class="unit span2">
          <div class="row-fluid">
          <section id="logo"><%= image_tag @user.avatar.url, :size => "48x48" %>
	  </section>
          <section id="help" class="topmargin20"><ad-title><bold><%= link_to "#{@user.display_name}", new_user_path %></bold></ad-title>
	  </section></div>
	  <div id="modal">
            <div id="helpcontent">
              <p>
		<div class="row-fluid">
	          <section id="logo"><%= image_tag @user.avatar.url %>
		  </section>
	          <section id="help" class="topmargin20"><ad-title><bold><%= link_to "#{@user.display_name}", new_user_path %></bold></ad-title>
		  </section>
		</div>
		<ol>
 		  <li>Registered as: <%= @user.user_type.capitalize %></li>
		  <li>Address:<br/>
		    <%= @user.street_address1 %>,<br/>
                    <%= @user.street_address2 %>,<br/>
                    <%= @user.city %>-<%= @user.zip_code %>,<br/>
                    <%= @user.state %>,<br/>
                    <%= @user.country %></li>
		</ol>
              </p>
            </div>
          </div>
          <section>
            <%= render 'shared/stats' %>
          </section>
	  <br>
          <section>
            <%= render 'shared/adpost_form' %>
          </section>
        </div>
        <div class="center span5">  
	  <section>
            <%= render 'shared/adfeed' %>
          </section>
        </div>
      </aside>
    </div>
   	
  </body>
</html>
