<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8"> 
</head>
<body>
  <%= render 'layouts/header' %>
    <div class="row-fluid">
     <aside>	
        <div class="center unit span2">
          <h3><%= link_to "#{@user.display_name}", new_user_path %></h3>
          <section>
            <%= render 'shared/stats' %>
          </section>
	  <br>
          <section>
            <%= render 'shared/adpost_form' %>
          </section>
        </div>
        <div class="center span6">  
	  <section>
            <%= render 'shared/adfeed' %>
          </section>
        </div>
      </aside>
    </div>
   	
  </body>
</html>
