<h1>Listing company_manufactured_products</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @company_manufactured_products.each do |company_manufactured_product| %>
  <tr>
    <td><%= company_manufactured_product.product_id %></td>
    <td><%= company_manufactured_product.company_id %></td>
    <td><%= link_to 'Show', company_manufactured_product %></td>
    <td><%= link_to 'Edit', edit_company_manufactured_product_path(company_manufactured_product) %></td>
    <td><%= link_to 'Destroy', company_manufactured_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company manufactured product', new_company_manufactured_product_path %>
