<%= form_for([ad,ad.comments.build]) do |f| %>
  <div class="comment">
    <% if ad.price_eval? %>
      1. Enter what price you suggest a <%= ad.ad_type %><%= f.text_field :indicative_price %>
      <% if ad.options_eval? %>
        2. What options or alternatives are available<%= f.text_field :indicative_price, placeholder: "comma separated" %> 		
      <% end %>
    <% else %>
      <% if ad.options_eval? %>
        1. What options or alternatives are available<%= f.text_field :indicative_price, placeholder: "comma separated" %> 		
      <% end %> 
    <% end %>
    <bold></bold> <%= f.text_area :description, placeholder: "Say something", size: "1x1" %>
  </div>
<% end %>
