<div class="addbrand_form">
  <div class="span12">
    New brand for product <%= product.name %>
    <%= simple_form_for([product, Brand.new], :html => {:novalidate => true}) do |f| %>
      <%= f.input :name, placeholder: "Brand name", :label => false, :input_html => { :class => "span12" } %>
      <%= f.input :description, as: :text, placeholder: "Brand description",  :input_html => { :class => "span12", :rows => "2" }, :label => false  %>
      <%= render "/shared/error_messages", object: f.object %>
      <%= f.submit "Add", class: "btn" %>
    <% end %>
  </div>
</div>

