<div class="container-fluid">
<div class="row-fluid">
<div class="span9">
<headertag>Ad Feed(<%= @user.adfeed(params[:show_ads_by]).count %>)</headertag>
</div>
<div class="span3 float-right-text">
      <nav>
        <ul class="nav">
	<li class="downdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">By:<%= @user.show_ads_by %><b class="caret"></b></a>	    
         <ul class="dropdown-menu">
	  <li><%= link_to "All", ads_path %></li>
          <li><%= link_to "followedusers", user_ads_path( @user, :show_ads_by => "followedusers" ) %></li>
          <li><%= link_to "followedads", user_ads_path( @user, :show_ads_by => "followedads" ) %></li>
          <li><%= link_to "followedproducts", user_ads_path( @user, :show_ads_by => "followedproducts" ) %></li>
	</ul>
        </li></ul>
      </nav>
</div>
</div>
<div>
  <% if @user.adfeed(params[:show_ads_by]).any? %>
    <ol class="ads collection">
      <%= render @ads, :current_user => @current_user %>
    </ol>
  <% end %>
</div>


