<div class="container-fluid">
<div class="row-fluid">
<div class="span9">
<headertag>Ad Feed(<%= @user.feed.count %>)</headertag>
</div>
<div class="span3 float-right-text">
      <nav>
        <ul class="nav">
	<li class="downdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">By:<%= @user.show_ads_by %><b class="caret"></b></a>	    
         <ul class="dropdown-menu">
	  <li><%= link_to "All", :controller => "users", :action => :show_all_ads, :id => @user %></li>
          <li><%= link_to "followedusers", :controller => "users", :action => :show_followedusers_ads, :id => @user %></li>
          <li><%= link_to "followedads", :controller => "users", :action => :show_followedads_ads, :id => @user %></li>
          <li><%= link_to "followedproducts", :controller => "users", :action => :show_followedproducts_ads, :id => @user %></li>
	</ul>
        </li></ul>
      </nav>
</div>
</div>
<div>
  <% if @user.feed.any? %>
    <ol class="ads collection">
      <%= render @ads, :current_user => @current_user %>
    </ol>
  <% end %>
</div>


