<div class="display-hidden" data-id=<%= id %> data-image-url=<%=avatar_url(object)%> data-image-html='   
              <p><br/>
		<div class="row-fluid">
	          <section>(<%= object.user_type.capitalize %>)<br/>
		  <% if	object.street_address1.present? %>
		    <%= object.street_address1 %>,<br/>
                  <% end %>
		  <% if	object.street_address2.present? %>
                    <%= object.street_address2 %>,<br/>
		  <% end %>
		  <% if	object.city.present? %>
                    <%= object.city %><% end%><% if object.zip_code.present? %>-<%= object.zip_code %>,<% end %><br/>
                   <% if	object.state.present? %>
                    <%= object.state %>,<br/><% end %>
                    <%= object.country %>
		  </section>
		</div>
              </p>'>
 </div>
