<div id="modal", data-id=<%= id %> >
            <div id="helpcontent">
              <span class="close"><%= image_tag('delete-gray.png', :size => "20x20") %></span>
              <p>
		<div class="row-fluid">
	          <section id="logo"><%= image_tag avatar_url(object), :size => "120x120" %>
		  </section>
	          <section><ad-title><bold><%= link_to object.display_name, user_path %></bold></ad-title>(<%= object.user_type.capitalize %>)<br/>
		  <% if	object.street_address1.present? %>
		    <%= object.street_address1 %>,<br/>
                  <% end %>
		  <% if	object.street_address2.present? %>
                    <%= object.street_address2 %>,<br/>
		  <% end %>
		  <% if	object.city.present? %>
                    <%= object.city %><% end%><% if object.zip_code.present? %>-<%= object.zip_code %>,<% end %><br/>
                   <% if	object.state.present? %>
                    <%= object.state %>,<br/><% end %>
                    <%= object.country %>
		  </section>
		</div>
              </p>
            </div>
          </div>

