<tr type=<%= current.class %><%= current.id %> class="objectconditional">
  <td><em><b> <%= current.name %>:</div> </td>
  <td><%= best_in_place current, :description, :type => :textarea, :nil => "N/A - Click to provide a description" %></td>
</tr>

<% if level != "level2" %>
  <% if object.has_any_treeView_objects_for([object, current]).any? %>
    <% object.has_any_treeView_objects_for([object, current]).each do |nextdetail| %>
      <%= render 'shared/object', :current => nextdetail, :object => object, :level => "level2" %>
    <% end %>
  <% end %>
<% end %>

