<h3>
  <section class="no-padding smallbold floatright">
  Average Review<%= rating_for_override @product, "quality", :readonly => true %>
  </section>          
  <div class="row-fluid">
    <section class="span7 no-padding">
      Review Feed(<%= @product.reviews.count %>)
    </section>
  </div>
</h3>
<div>
  <% if @product.reviews.any? %>
    <ol class="ads collection">
      <%= render @product.reviews, :current_user => @current_user %>
    </ol>
  <% end %>
</div>

<section class="no-padding">
  <%= render 'shared/adreview_form', :product => @product %>
</section>

<%= debug(params) %>


