<% if brand_product.model_id %>
  <div class="reviewfeed" id=reviewmodel<%= brand_product.model_id %>>
<% else %>
  <div class="reviewfeed" id=reviewbrand<%= brand_product.brand_id %>>
<% end %>
<section class="span12">
Reviews for <%= brand_product.brand_name %> - <%= brand_product.model_name %>(<%= brand_product.reviews.count %>)
</section>
<section class="no-padding">
  <%= render 'shared/adreview_form', :brand_product => brand_product %>
</section>

<div>
  <% if brand_product.reviews.any? %>
    <ol class="ads collection">
      <%= render brand_product.reviews, :current_user => @current_user, :brand_product => brand_product %>
    </ol>
  <% end %>
</div>
</div>



