<% statobject ||= current_user %><br/>
  <div class="stats">
    <% if isValidFollowingType(statobject) %>
      <a href="<%= user_users_path(statobject, :show_users_by => 'following') %>">
      <i class="icon-user"></i>
        <smallinline class="stat">
          <%= statobject.followed_users.count %> following
        </smallinline>
      </a>
        <a href="<%= user_ads_path(statobject, :show_ads_by => 'followedads') %>">
          <i class="icon-font"></i>
          <smallinline class="stat">
           following <%= statobject.followedads.count %> ads
          </smallinline>
        </a>
        <a href="<%= user_products_path(statobject) %>">
          <i class="icon-qrcode"></i>
          <smallinline class="stat">
            following <%= statobject.followedproducts.count %> products
          </smallinline>
        </a>
    <% end %>
      
      <a href="<%= user_users_path(statobject, :show_users_by => 'followers') %>">
	<i class="icon-user"></i>
        <smallinline id="followers" class="stat">
          <%= statobject.followers.count %> followers
        </smallinline>
      </a>
    </div>

	    
