<link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
<div class="row-fluid">
  <section class="span2 collectionimage">
    <%= image_tag( avatar_url(@user), :size => "140x200" ) %>
  </section>
  <section class="span10">
    <section class="float-right">
  </section>
  <%= render 'shared/help', :id => 'modal_user_'+ @user.id.to_s, :object => @user %>
  <section class="helppadding"><%= render 'users/follow_form', :type => "link" %></section>
  <section class="contact-card displayname" data-id=modal_user_<%= @user.id %>><%= @user.display_name %></section>
  <section>
    <%= render 'shared/statsimple', statobject: @user %>
  </section>
  <section>
    <%= render 'shared/userDetails' %>
  </section>

</div>

<div class="row-fluid">
  <span class="span12">
    <%= render 'shared/userpage_links' %>
  </span>
</div>
<br/>


