<ul class="square text-center">
  <li><%= link_to "Create Ad", new_user_ad_path( :user_id => @user.id ) %></li>
  <li><%= link_to "My Ads", user_ads_path( @user, :group_by => "brand_product_id", :show_ads_by => "myads") %>(<%= @user.ads.count %>)</li>
  <li><%= link_to "My Quoted Ads", user_ads_path( @user, :group_by => "brand_product_id", :show_ads_by => "myquoted" ) %>(<%= Ad.my_quoted_ads(@user).count %>)</li>
  <li><%= link_to " Give feedback", new_feedback_path %></li>
</ul>
