<%= render 'layouts/header' %>
<div class="row-fluid spacer">
  <div class="center unit span6">
    <img src='<%= asset_path("buyselllogo1.png") %>' class="canter relative" id="logo">
  </div>
  <aside class="spacer span4 backcolor">
    <% if user_signed_in? %>
      <%= render '/layouts/home' %>
    <% else %>
      <div class="extraneous-non-semantic-markup">
        <section>
          <groupthin>
            <header>Sign in</header>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <%= f.label :email %>
              <%= f.email_field :email %><br />
              <br/>
      	      <%= f.label :password %>
              <%= f.password_field :password %><br/>
	      <div class="error_message">
    	        <%= flash[:alert] %>
              </div>           
	      <div class="row-fluid">

		<div class="span6 float-right"> 
                  <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
                </div>
 		<div class="span6 half-half-spacer">
     	          <% if devise_mapping.rememberable? -%>
	            <label class="checkbox">	
	            <%= f.check_box :remember_me, :class => 'check_boxes optional'  %>Remember me</label>
                  <% end -%>
                </div>
              </div>
            <% end %>
          </groupthin>
        <%= render "devise/shared/links" %>
      </section>
    </div>
   <% end %>
  </aside>
</div>
