<div class="pin">
<div class="text-center bold">
<%= link_to product.name, product %>
</div>
<div product-id= <%= product.id %> class=object style="overflow:auto;">
<%= render('shared/modelbrandtree', :object => product ) %>
</div>
<%= render 'users/followproduct_form', :product => product, :type => "link" %>
<%= render 'shared/productstatsimple', statobject: product %>
</div>
