<listitem>
<%= link_to product.name, product %>
<div product-id= <%= product.id %> class="product" style="overflow:auto;">
<%= render('shared/modelbrandtree', :product => product, :showrating => false) %>
</div>
<%= render 'users/followproduct_form', :product => product, :type => "link" %>
<%= render 'shared/productstatsimple', statobject: product %>
</listitem>
