<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8"> 
</head>
<body class="body">
  <%= render 'layouts/header' %>
    <div class="row-fluid">
      <aside>	
        <div class="unit span2">
      	  <h3></h3>
            <ad-title> 
	      <bold><%= @product.name %></bold></ad-title><sub><%= render 'users/followproduct_form', :product => @product, :type => "link" %></sub>
              <ad-title>
              <% if !@product.model.blank? %> | <bold><%= @product.model %>  </bold><% end %>
            </ad-title>
	  <br/>
          <section>
            <%= render 'shared/stats', :statobject => @product %>
          </section>
	  <br>
          <section>
            <%= render 'shared/productDetails' %>
          </section>
        </div>
        
      </aside>
    </div>
   	
  </body>
</html>
