<% if review.created_at %>
  <li class="comment no-padding">
    <section class="span1"><%= image_tag avatar_url(@user), :size => "48x48" %></section>
    <section class="span11">
      <span class="float-right"><%= rating_for_override brand_product, "quality", :readonly => true, :user => review.user %>
      <sup><%= link_to image_tag('delete-gray.png', :size => "20x20"), review, method: :delete %></sup></span>
      <a href="#"><%= review.display_name %></a>: <%= best_in_place review, :description, :type => :textarea %>
    </section>
  </li>
<% end %>
