<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8"> 
</head>
<body class="body">
  <%= render 'shared/header' %>
    <div class="row-fluid">
      <aside>	
        <div class="unit span3">
            <ad-title> 
  	      <bold><%= link_to @product.name, @product %>  </bold></ad-title><sub><%= render 'users/followproduct_form', :product => @product, :type => "link" %></sub>
              <ad-title>
              <% if !@product.model.blank? %> | <bold><%= @product.model %>  </bold><% end %>
  	      <% if @brand && !@brand.name.blank? %> | <bold><%= @brand.name %>  </bold><% end %> </ad-title>
          <div id="product" class="product" style="height:auto;width:auto">
 <ul>
  <% @product.brands.each do |brand| %>
  <%= render 'shared/brandnode', :brand => brand, :product => @product, :showrating => true, :showby => "product" %>
  <% end %>
</ul>
</div>
<br/>
          <section>
            <%= render 'shared/productstatsimple', :statobject => @product %>
          </section>
	  <br>
          <section>
            <%= render 'shared/productDetails' %>
          </section>
        </div>
        <div class="span4">  
	  <section>
            <%= render 'shared/all_reviewfeed' %>
          </section>
        </div>
      </aside>
    </div>
   	
  </body>
</html>
