<h2>Sign up</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.label :display_name %><br/>
      <%= f.text_field :display_name %>
      <%= f.label :email %><br/>
      <%= f.email_field :email %>
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation %>
      <%= f.label :user_type %><br/>
      <%= select(:user, :user_type,  [[ 'Individual', 'individual'], ['Company','company']]) %>
      <%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>

